<% include partials/header %>

<body>
    <!-- Navbar -->

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container">
            <ul class="navbar-nav bd-navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">Loja</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <div class="container">
        <form class="needs-validation" method="POST" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName"><strong>Nome</strong></label>
                    <input name="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        É necessário um nome válido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName"><strong>Sobrenome</strong></label>
                    <input name="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        É necessário um sobrenome válido.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email"><strong>Email</strong></label>
                <input name="email" type="email" class="form-control" id="email" placeholder="" required>
                <div class="invalid-feedback">
                    Por favor, digite o seu email.
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="neighborhood"><strong>Bairro</strong></label>
                    <input name="neighborhood" type="text" class="form-control" id="neighborhood" placeholder="" required>
                    <div class="invalid-feedback">
                        Por favor, digite o seu endereço.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="street"><strong>Rua</strong></label>
                    <input name="street" type="text" class="form-control" id="street" placeholder="" required>
                    <div class="invalid-feedback">
                        Por favor, digite o seu endereço.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cep"><strong>CEP</strong></label>
                    <input name="cep" type="text" class="form-control" id="cep" placeholder="" required>
                    <div class="invalid-feedback">
                        Por favor, digite um CEP válido.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="telephone1"><strong>Telefone 1</strong></label>
                    <input name="telephone1" type="text" class="form-control" id="telephone1" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        É necessário um telefone.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="telephone2"><strong>Telefone 2</strong> <span class="text-muted">(Opcional)</span></label>
                    <input name="telephone2" type="text" class="form-control" id="telephone2" placeholder="" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="password"><strong>Senha</strong></label>
                <input name="password" type="password" class="form-control" id="password" placeholder="" required>
                <div class="invalid-feedback">
                    Por favor, digite uma senha.
                </div>
            </div>

            <hr class="mb-4 mt-5">

            <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
        </form>
    </div>

    <% include partials/footer %>

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>