<!doctype html>
<html lang="en">

<% include partials/header %>

<body>

    <% include partials/navbar_account %>

    <br>

    <div class="container">
        <div class="row">

        </div>
    </div>



    <% include partials/footer %>

</body>

</html>