<!doctype html>
<html lang="en">

<% include partials/header %>

<body>
    
    <% include partials/navbar_account %>

    <br>

    <% include partials/messages %>

    <div class="container">
        <div class="row">
            <div class="col">
                <form class="needs-validation" method="POST" novalidate>
                    <label><strong>Já sou cliente</strong></label>
                    <div class="form-group">
                        <label><strong>Email</strong></label>
                        <input name="email" type="email" class="form-control" required>
                        <div class="invalid-feedback">
                            Por favor, digite o seu email.
                        </div>
                    </div>

                    <div class="form-group">
                        <label><strong>Senha</strong></label>
                        <input name="password" type="password" class="form-control" required>
                        <div class="invalid-feedback">
                            Por favor, digite uma senha.
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lembrar senha
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Continuar</button>
                </form>
            </div>

            <div class="col-1 box"></div>
            <div class="col-1 box linha-vertical"></div>

            <div class="col">
                <label><strong>Ainda não tenho cadastro</strong></label>
                <label>Para comprar em nosso site é preciso realizar um cadastro.</label>
                <a class="btn btn-outline-secondary" href="/users/register">Cadastre-se</a>
            </div>
        </div>
    </div>

    <% include partials/footer %>

    <% include partials/bootstrap_validation %>
</body>

</html>