<!doctype html>
<html lang="en">

<% include partials/header %>

<body>
    <% include partials/navbar_account %>

    <br>

    <div class="container mt-5">
        <div class="row">
            <% include partials/account_sidebar %>

            <div class="col">
                <br>
                <h2><strong>Meus Pedidos</strong></h2>
                <br>
                <hr class="mt-3 mb-3">
            </div>
        </div>
    </div>


    <% include partials/footer %>
</body>

</html>