<% include partials/header %>

<body>
    <% include partials/navbar %>
    
    <!--
    <div class="container">
        <div class="card-deck">
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="img/produtos/tv/tv1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="img/produtos/tv/tv2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="img/produtos/tv/tv3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="img/produtos/tv/tv1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="img/produtos/tv/tv2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="img/produtos/tv/tv3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-adjusted" src="img/produtos/tv/tv1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-adjusted" src="img/produtos/tv/tv2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-adjusted" src="img/produtos/tv/tv3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/produtos/tv/tv1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TV 1</h5>
                            <p class="card-text">R$ 1024,00</p>
                        </div>
                        <a href="#" class="btn btn-primary">Adicionar ao Carrinho
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/produtos/tv/tv2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TV 2</h5>
                            <p class="card-text">R$ 1500,00</p>
                        </div>
                        <a href="#" class="btn btn-primary">Adicionar ao Carrinho
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-adjusted" src="img/produtos/tv/tv3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TV 3</h5>
                            <p class="card-text">R$ 1729,00</p>
                        </div>
                        <a href="#" class="btn btn-primary">Adicionar ao Carrinho
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-adjusted" src="img/produtos/tv/tv1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TV 1</h5>
                            <p class="card-text">R$ 1024,00</p>
                        </div>
                        <a href="#" class="btn btn-primary">Adicionar ao Carrinho
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-adjusted" src="img/produtos/tv/tv3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TV 1</h5>
                            <p class="card-text">R$ 1024,00</p>
                        </div>
                        <a href="#" class="btn btn-primary">Adicionar ao Carrinho
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>

</html>