<!doctype html>
<html lang="en">

<% include partials/header %>

<body>
    <% include partials/navbar %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <select class="custom-select">
                    <option selected>Ordernar por..</option>
                    <option value="1">Ordem Alfabética</option>
                    <option value="2">Preço Maior para o Menor</option>
                    <option value="3">Preço Menor para o Maior</option>
                </select>
            </div>
        </div>
        <hr class="mt-4 mb-2">
    </div>

    <div class="container">
        <div class="row">
            <% products.forEach(function(products) { %>
                <div class="col-sm-6 col-lg-3 py-2">
                    <div class="card text-right">
                        <img class="card-img-top" src=<%= products.img_path %> alt="Card image cap" height="180" width="42">
                        <div class="card-body">
                            <h5 class="card-title mb-4"><%= products.name %></h5>
                            <h4 class="card-text"><strong>R$ <%= parseFloat(Math.round(products.price * 100) / 100).toFixed(2);%></strong></h4>
                            <h6 class="card-text">Unidades em estoque: <%= products.stock_quantity %></h6>
                        </div>
                        <a href="#" class="btn btn-primary">Adicionar ao Carrinho
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <% include partials/footer %>
</body>

</html>