<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container">
        <ul class="navbar-nav bd-navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Loja</a>
            </li>
        </ul>
    </div>
</nav>