<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand mt-0" href="/">Loja</a>

    <form class="mx-2 my-auto d-inline w-100">
      <div class="input-group">
        <input
          type="text"
          class="form-control border border-right-0"
          placeholder="Buscar"
        />
        <span class="input-group-append">
          <button class="btn border border-left-0" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    <a class="nav-link ml-3 text-light" href="/login">Login</a>
  </div>
</nav>

<nav class="navbar navbar-dark bg-secondary navbar-expand-sm">
  <div class="container">
    <div class="nav-scroller py-1 mb-2">
      <a class="p-3 text-light" href="/produtos">TVs e Áudio</a>
      <a class="p-3 text-light" href="/produtos">Eletrodomésticos</a>
      <a class="p-3 text-light" href="/produtos">Informática</a>
      <a class="p-3 text-light" href="/produtos">Telefonia</a>
      <a class="p-3 text-light" href="/produtos">Esporte e Lazer</a>
      <a class="p-3 text-light" href="/produtos">Automotivo</a>
      <a class="p-3 text-light" href="/produtos">Games</a>
      <a class="p-3 text-light" href="/produtos">Livros e Papelaria</a>
    </div>
  </div>
</nav>
